# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
*.egg

# TypeScript
typescript/node_modules

# Local dependencies
node_modules/
note_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# RAG / ChromaDB
rag_data/
